/node_modules

/public/hot
/public/storage
/storage/*.key
/vendor

.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode


/issue-tracker-app/node_modules
/issue-tracker-app/public/hot
/issue-tracker-app/public/storage
/issue-tracker-app/storage/*.key
/vendor/issue-tracker-app


/issue-tracker-app/.env
/issue-tracker-app/.env.backup
/issue-tracker-app/.phpunit.result.cache
/issue-tracker-app/Homestead.json
/issue-tracker-app/Homestead.yaml
/issue-tracker-app/npm-debug.log
/issue-tracker-app/yarn-error.log
/issue-tracker-app/.idea
/issue-tracker-app/.vscode

08Basics_JS_TS/node_modules
/issue-tracker-app/.vscode











